.container {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  .g-4 > .col {
    margin-bottom: 20px;
  }
  
  @media (min-width: 576px) {
    .g-sm-2 > .col {
      flex: 0 0 50%;
      max-width: 50%;
    }
  }
  
  @media (min-width: 768px) {
    .g-md-3 > .col {
      flex: 0 0 33.333333%;
      max-width: 33.333333%;
    }
  }
  
  @media (min-width: 992px) {
    .g-lg-4 > .col {
      flex: 0 0 25%;
      max-width: 25%;
    }
  }
  
  @media (min-width: 1200px) {
    .g-xl-5 > .col {
      flex: 0 0 20%;
      max-width: 20%;
    }
  }
  