.welcome-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffffff; /* Fondo blanco */
  }
  
  .welcome-content {
    max-width: 800px;
    text-align: center;
  }
  
  .welcome-content h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  
  .welcome-content p {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 15px;
  }
  
  .loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 1.5rem;
  }
  